/* First of all fixing image sizing and properties */
.item  img{
    width: 200px;
    height:auto ;
    border-radius: 10px;
    color: rgb(64, 64, 64);
    filter: drop-shadow(4px 4px 5px);
}
/* Arranging all six sections in column using flexbox */
body{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

/*  Styling Navbar */
.navbar{
    display: flex;
    background-color: #1f2937;
    /* to seperate the left and right divs */
    justify-content: space-around;
    padding: 3px;
}
    /* Styling links in navbar */
    .navbar a{
    color: white;
    text-decoration: none;
    width: auto;
    height: 32px;
    }
    /* Styling left div */
    .left{
        display: flex;
        justify-content: center;
        align-items:center;
        gap:5px;
    }
        /* Styling Logo */
        .left #Github{
            width: auto;
            height: 33px;
        }
    /* Styling right div */
    .right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    height: 100px;  /*added height*/
    width: 140px;   /*added width*/ 
    }
         /* Styling individual logos  */
        .right #linkedin{
            width: auto;
            height: 30px;
        }
        .right #instagram{
            width: auto;
            height: 30px;
            align-self: flex-end;
        }
        .right #twitter{
            width: auto;
            height: 30px;
        }
/* Styling first section */
.dark-container{
    display: flex;
    flex-direction: row;
    background-color: #1f2937;
    color: white;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
    box-sizing: border-box;
    height: 400px;
    gap: 100px
}
.dark-container .image{
    height: 200px;
    width: 300px;
    background-color: #363e48;
    filter: drop-shadow(4px 4px 4px black);
}
.dark-container .text{
    max-width: 500px;
}
.dark-container .text h1{
    font-family: 'Lobster', cursive;
    font-size: 48px;
    color: #f9faf8;
}
.dark-container .text p{
    font-family: 'Arima', cursive;
    font-size: 18px;
    font-style: italic;
}
.dark-container button{
    background-color: #3882f6;
    border-radius: 9px;
    padding: 5px 20px;
    font-size: 20px;
}
button a{
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-family: 'Arima',cursive;
}
*{
    /* border: 1px solid red; */
}