/* First of all fixing image sizing and properties */
.item  img{
    width: 200px;
    height:auto ;
    border-radius: 10px;
    color: rgb(64, 64, 64);
    filter: drop-shadow(4px 4px 5px);
}

/* Arranging all six sections in column using flexbox */
body{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

/*  Styling Navbar */
.navbar{
    display: flex;
    background-color: #1f2937;
    /* to seperate the left and right divs */
    justify-content: space-around;
    padding: 5px;
}
    /* Styling links in navbar */
    .navbar a{
    color: white;
    text-decoration: none;
    width: auto;
    height: 32px;
    }
    /* Styling left div */
    .left{
        display: flex;
        justify-content: center;
        align-items:center;
        gap:5px;
    }
        /* Styling Logo */
        .left #Github{
            width: auto;
            height: 33px;
        }
    /* Styling right div */
    .right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    }
         /* Styling individual logos  */
        .right #linkedin{
            width: auto;
            height: 30px;
        }
        .right #instagram{
            width: auto;
            height: 30px;
            align-self: flex-end;
        }
        .right #twitter{
            width: auto;
            height: 30px;
        }
/* Styling first section */
.dark-container{
    display: flex;
    flex-direction: row;
    background-color: #1f2937;
    color: white;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
    box-sizing: border-box;
    height: 400px;
    gap: 100px
}
.dark-container .image{
    height: 200px;
    width: 300px;
    background-color: #363e48;
    filter: drop-shadow(4px 4px 4px black);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #adafb4;
}
.dark-container .text{
    max-width: 500px;
}
.dark-container .text h1{
    font-family: 'Lobster', cursive;
    font-size: 48px;
    color: #f9faf8;
}
.dark-container .text p{
    font-family: 'Arima', cursive;
    font-size: 18px;
    font-style: italic;
}
.dark-container button{
    background-color: #3882f6;
    border-radius: 9px;
    padding: 5px 20px;
    font-size: 20px;
}
button a{
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-family: 'Arima',cursive;
}

/* Styling second section */
.white-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 90px;
}
.white-container .header{
    text-align: center;
    font-size: 55px;
    font-weight: 500;
    font-family: 'Lobster';
    color:#313e52;
}
.container{
    display: flex;
    flex-direction: row;
   justify-content:center;
   gap: 20px; 
}
.container .item{
    max-width: 300px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-family: 'Boogaloo', cursive;
    font-size: 20px;
    color: #1f2937;
    font-weight: 100;
}
/* Styling third section  */
.grey-container{
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 90px;
    font-family: 'The Nautigal', cursive;
    justify-content: center;
    color: #273446;
}
.mistakes{
    font-size: 170px;
}
#author{
    font-family: 'Lobster',sans-serif;
    font-size: 20px;
    margin-left: 500px;
}
/* Styling lower-container */
.lower-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 0px;
}
.strip{
    background-color: #3882f6;
    display: flex;
    border-radius: 10px;
    padding: 20px 100px;
    gap: 80px;
}
.strip .left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: white;
    justify-content: center;
}
.strip .left .h2{
    font-family: 'Lobster',sans-serif;
    font-size: 30px;
}
.strip .left .p{
    font-family: 'Boogaloo', cursive;
    font-size: 20px;
    color: #d8d9db;
}
.strip .right{
    display: flex;
    align-items: center;
    box-sizing: border-box;
    /* padding-bottom: 10px; */
}
.strip .right button{
    background-color:#3882f6;
    font-size: 20px;
    border:1px solid white;
    border-radius: 10px;
    padding: 2px 15px;
}
/* Styling footer */
.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1f2937;
    color: whitesmoke;
    height: 50px;
}
*{
    /* border: 1px solid red; */
}